@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');

* {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  margin: 0;
}

body{
    background-color: black;
}

h2 {
    font-size: 2rem;
    color: #33A8DB;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 24px;
  }

  p{
    color: white;
  }

  section {
    margin: 100px auto;
  }

  
  .banner{
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url('/assets/images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    padding-top: 60px;
    border-bottom: 1px solid #33A8DB80;
  }

  .banner-content{
    text-align: center;
  }

  .banner-content h1{
    background: linear-gradient(#33A8DB, #1472B7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    font-size: 40px;
  }

  .banner-content p{
    font-size: 20px;
    font-weight: 400;
    line-height: 23.48px;
    margin-top: 20px;
  }

  .banner .logo {
    background-color: rgba(0, 0, 0, .2);
    height: 260px;
    width: 260px;
    margin: auto;
    border-radius: 50%;
    padding: 16px;
    margin-bottom: 16px;
  }
  
  .banner .logo img {
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .banner-content button{
    background-color:transparent;
	border:1px solid #31aadd;
	display:inline-block;
	cursor:pointer;
	color:#31aadd;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:20px 60px;
	text-decoration:none;
	text-shadow:0px 1px 0px #31aadd;
    margin-top: 20px;
    
  }

  .banner-content button:hover{
    background-color: #33A8DB;
    transition: background-color 1s ease 0s;
    color: white;
  }

  #course-content{
    height: 560px;
    text-align: center;

  }

  #course-content h2{
    letter-spacing: 10px;
  }

  #course-content p{
    font-size: 20px;
    font-weight: 400;
    line-height: 23.48px;
    margin-top: 20px;
  }
  .modules-list{
    color: white;
    margin-top: 60px;
  }

  .modules-list .module{
    width: 550px;
    border: 1px solid #31aadd;
    padding: 20px;
    border-radius: 100px;
    margin: 0 auto 24px;
    background-color: #252525;
    box-shadow: inset -5px 6px 8px rgba(0, 0, 0, .7);
  }

  .modules-list .module:hover{
    outline: 1px solid #0084ff;
    transition: outline 1s ease 0s;
  }
#transform-world{
    height: 560px;
    border-top: 1px solid #33A8DB80;
    border-bottom: 1px solid #33A8DB80;
    background: url(/assets/images/woman-code.png);
    background-size: cover;
    background-attachment: fixed;
    padding: 200px;
}

#transform-world p{
  font-weight: 900;
  font-size: 2.5rem;
  text-transform: uppercase;
  max-width: 250px;
  text-shadow: 5px 5px 4px rgba(190,3,230,0.71);
}

#professional-challenges{
    text-align: center;
    width: 800px;
}

footer {
    padding: 30px 0;
    text-align: center;
    background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));
    border-top: 1px solid #33A8DB80;
  }
  
  footer .dio-logo {
    width: 200px;
  }
  
  footer a {
    color: #33A8DB;
    font-weight: bold;
    text-decoration: none;
  }